* {
  outline:none
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.ls{
  position: relative;
  top: 35%;
  padding-left: 25%;
}

.profilediv{
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
}

.profilediv2{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.search{
  position: relative;
  width: 100%;
  max-width: 440px;
}

.search img {
  width: 90%;
  height: auto;
}

.search .btn{
  color: white;
  background-color: #FE8946;
}

.contain {
  position: relative;
  width: 100%;
  max-width: 440px;
}

.contain img {
  width: 90%;
  height: auto;
}

.contain .btn {
  width: 340px;
  height:60px;
  text-align: center;
}

.filters{
  text-align: center;
}

.info{
  font-size: 18px;
  color:#525456;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}
